<div class="box">
  <p class="title"> Add Collection </p>
  <form action="/collections/addCollection" method="POST">
    <div class="field">
      <label class="label">Name</label>
      <input class="input" type="text" placeholder="Enter name" name="name" required />
    </div>

    <div class="field">
      <label class="label">Description</label>
      <input class="input" type="text" placeholder="Enter description" name="description" required />
    </div>

    <div class="field">
      <button class="button is-primary" type="submit">Add Collection</button>
    </div>
  </form>
</div>