<div class="title p-3 is-flex">
  <a href="/" class="is-flex is-align-items-center has-text-dark">
    <i class="fa-solid fa-leaf" style="color: #63E6BE;"></i>
    <div class="ml-4">Leaf Library</div>
  </a>
</div>