<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {{> initial-leaf-library-brand}}
    <a id="burger" class="navbar-burger" style="color: black;" role="button" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button" id="login" href="/login"> Log in </a>
          <a class="button" id="signup" href="/signup"> Signup </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  // toggle burger menu
  const burger = document.getElementById("burger");
  const menu = document.getElementById("navbarBasicExample");

  burger.addEventListener("click", function() {
    burger.classList.toggle("is-active");
    menu.classList.toggle("is-active");
  });
</script>
