<nav class="navbar">
  <div class="navbar-brand">
    {{> leaf-library-brand}}
    <a id="burger" class="navbar-burger" style="color: black;" role="button" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="garden" class="button" href="/garden"> Garden </a>
          <a id="logout" class="button" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  // set active tab
  document.getElementById("{{active}}").classList.add("is-primary");

  // toggle burger menu
  const burger = document.getElementById("burger");
  const menu = document.getElementById("navMenu");

  burger.addEventListener("click", function() {
    burger.classList.toggle("is-active");
    menu.classList.toggle("is-active");
  });
</script>
