{{> navbar}}

<section class="section columns is-centered">
  <div class="column has-text-centered">
    {{> update-collection}}
  </div>
  <div class="column">
    image
  </div>
</section>

<section class="section columns is-centered">
  <div class="column">
    {{> list-added-plants}}
  </div>
  <div class="column">
    {{> list-addable-plants}}
  </div>
</section>