  {{> initial-navbar}}

  <section class="section">
    <div class="container">
      <div class="columns is-vcentered is-variable is-8">
        <div class="column is-6">
          <h1 class="title is-3">Welcome to Leaf Library</h1>
          <p>Leaf Library is your personal digital botanical garden. By signing up, you'll be just moments away from starting your own garden.</p>
          <div class="notification is-light mt-5">
            <strong>Note:</strong> You are currently viewing the backend interface,
            which offers limited functionality.
            Full features are available in our <strong>Svelte frontend app</strong>.
          </div>
        </div>
        <div class="column is-6">
          <img src="/img/digital-garden-one.png" alt="digital botanical garden">
        </div>
      </div>
    </div>
  </section>