{{> navbar active="profile"}}

<section class="section columns is-centered">
  <div class="column has-text-centered">
    {{> update-profile}}
  </div>
  <div class="column">
    {{> image-user}}
  </div>
</section>