name: ci

on:
  push:
    branches:
  pull_request:
    branches:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v3

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 22.20.0
          cache: "npm"

      - name: install dependencies
        run: npm install

      - name: create .env file
        run: |
          echo "COOKIE_NAME=test" >> .env
          echo "COOKIE_PASSWORD=test" >> .env
          echo "PORT=3000" >> .env
          echo "HOST=localhost" >> .env

      - name: run eslint
        run: npm run lint

      - name: start server
        run: npm run start & sleep 5

      - name: run tests
        run: npm test
